<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">-->
<Configuration status="INFO">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8">
                <pattern>%d{dd.MM.yyyy HH:mm:ss} [%5p] %m, %l%n</pattern>
            </PatternLayout>
        </Console>
        <!--<layout class="org.apache.log4j.PatternLayout">-->
            <!--<param name="ConversionPattern" value="%d{dd.MM.yyyy HH:mm:ss} [%5p] %m, %l%n"/>-->
        <!--</layout>-->

        <!--<filter class="org.apache.log4j.varia.LevelRangeFilter">-->
        <!--<param name="LevelMin" value="ALL"/>-->
        <!--<param name="LevelMax" value="INFO"/>-->
        <!--</filter>-->
    </Appenders>

    <!--<appender name="Console" class="org.apache.log4j.ConsoleAppender">-->
        <!--<param name="target" value="System.out"/>-->
        <!--<Console name="Console" target="SYSTEM_OUT">-->
            <!--<PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss} [%5p] %m, %l%n" charset="UTF-8"/>-->
        <!--</Console>-->
    <!--</appender>-->
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>