* {
    /* border: 2px dotted rgb(0, 0, 0); */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: rgb(50, 50, 50);
    color: white;
}
header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: fixed;
    background-color: rgb(50, 50, 50);
    justify-content: center;
    align-items: center;
    /*margin-top: 1em;*/
}
h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: .5em;
    text-transform: uppercase;
}
aside {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6.5%;
    margin-left: 1%;
    width: 12%;
    align-content: center;
    /*width: 200px;*/
    /*float: right;*/
    position: fixed;
}
.select_option {
    margin: 0.5em;
    width: 12em;
    height: 2.5em;
}
.select_button {
    margin: 0.5em;
    width: 12em;
    height: 2.5em;
}
.filler_name {
    text-indent: .5em;
    text-transform: lowercase;
}
article {
    display: flex;
    justify-content: center;
}
.create_subs_block {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 3em;
}

table {
    border-collapse: collapse;
}
th {
    border-bottom: 1px solid #878787;
    padding-left: 1em;
    padding-right: 1em;
}

td {
    border-bottom: 1px solid #878787;
    padding-left: 1em;
    padding-right: 1em;
    transition: .3s linear;
}

tr:hover td {
    color: gray
}
.table_select {
    margin: 0.5em;
    width: 15em;
    height: 2em;
    /*align-content: center;*/
}
footer{
    display: flex;
    background-color: rgb(50, 50, 50);
    height: 3em;
    width: 100em;
    position: fixed;
    left: 0;
    bottom: 0;
    align-items: center;
}
.button {
    margin: 0.5em;
    width: 12em;
    height: 2.5em;
}
.buttons {
    width: 60%;
    justify-content: center;
    /*border: 0.1em solid red;*/
}
.publication_amount {
    width: 100%;
    margin-left: 60%;
}

